/*Variables*/
@green: rgb(132, 189, 0);
@grey: rgb(130, 130, 130);
@sand: rgb(236, 235, 232);

/*Styles*/
* {
  margin: 0;
}

body {
  background-color: @sand;
}

header {
  #title {
    display: inline;
    margin-right: 10px;
    font-size: 4em;
    font-weight: bold;
  }
  #tagline {
    font-size: 2em;
    display: inline
  }
  #login-status {
    float: right;
  }
}

.container {
    display: table;
    width: 100%;
}
.cell {
    display: table-cell;
}

footer {
  background-color: black;
  color: white;
}

#playlist-area {
  #playlist-input {}
  #playlist-list {}
  #playlist-button {}
}

#search-area {
  #search-bar {}
  #search-input {}
  #search-button {}
  #search-query {}
  #search-results {}
}

#song {}

.item-name {
  font-weight: bold;
  color: @green
}

.result {
  display: block;
}

#sorry {
  font-weight: bold;
}

a:link, a:visited, a:hover, a:active { text-decoration: none; color: black; }
