/*Variables*/
/*Styles*/
* {
  margin: 0;
  font-size: 1em;
}
body {
  background-color: #ecebe8;
}
header {
  padding: 5px;
  margin-bottom: 10px;
}
header p {
  display: inline;
}
header #login-status {
  float: right;
  margin: 10px;
  font-size: 1.5em;
}
header #login-status p {
  color: #84bd00;
}
header #title {
  margin-right: 10px;
  font-size: 4em;
  font-weight: bold;
}
header #tagline {
  font-size: 2em;
}
header #by-line {
  display: block;
  font-size: 1.1em;
}
header a:link,
header a:visited,
header a:hover,
header a:active {
  text-decoration: none;
  color: #84bd00;
}
header a:hover {
  text-decoration: none;
  color: black;
}
#playlist-area #playlist-bar {
  width: 100%;
  margin-bottom: 10px;
}
#playlist-area #playlist-bar #playlist-input {
  height: 50px;
}
#playlist-area #playlist-bar #playlist-button {
  height: 50px;
  font-size: 1.25em;
  background-color: #84bd00;
}
#playlist-area #playlist-list {
  font-size: 1.25em;
  font-weight: bold;
  color: #84bd00;
}
#search-area {
  max-width: 550px;
  margin: auto;
}
#search-area #search-bar {
  width: 100%;
  margin-bottom: 10px;
}
#search-area #search-bar select {
  width: 100px;
  height: 50px;
  border: 1px solid rgba(255, 0, 0, 0);
  border-radius: 0px;
  background: rgba(132, 189, 0, 0);
  font-size: 1.25em;
}
#search-area #search-bar #search-input {
  width: 300px;
  height: 50px;
}
#search-area #search-bar #search-button {
  width: 100px;
  height: 50px;
  font-size: 1.25em;
  background-color: #84bd00;
}
#search-area #search-results {
  font-size: 2em;
  font-weight: bold;
  color: #84bd00;
}
#search-area .result {
  margin-bottom: 5px;
}
#search-area .result-song {
  display: inline;
}
input {
  padding-left: 5px;
  border: 0;
  background: transparent;
  font-size: 1.75em;
  color: black;
}
.add-button,
.remove-button,
.music-button {
  margin: 0px 5px 0px 0px;
  color: black;
}
.music-button:hover {
  color: #84bd00;
}
.music-button:active {
  color: white;
}
.playing {
  color: #84bd00;
}
.result-song:hover {
  color: #828282;
}
.result-song:hover .add-button {
  color: #84bd00;
}
.playlist-song:hover {
  color: #828282;
}
.playlist-song:hover .remove-button {
  color: #84bd00;
}
.result-song:active {
  color: white;
}
.result-song:active .add-button {
  color: white;
}
.playlist-song:active {
  color: white;
}
.playlist-song:active .remove-button {
  color: white;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
