/*Variables*/
@green: rgb(132, 189, 0);
@sand: rgb(236, 235, 232);

/*Styles*/
#playlist-area {}

#search-area {
  #search-bar {}
  #search-query {}
  #search-results {}
}

.item-name {
  font-weight: bold;
  color: @green
}

.result {
  display: block;
}

#sorry {
  font-weight: bold;
}
