/*Variables*/
/*Styles*/
* {
  margin: 0;
}
body {
  background-color: #ecebe8;
}
header #title {
  display: inline;
  margin-right: 10px;
  font-size: 4em;
  font-weight: bold;
}
header #tagline {
  font-size: 2em;
  display: inline;
}
header #login-status {
  float: right;
}
.container {
  display: table;
  width: 100%;
}
.cell {
  display: table-cell;
}
footer {
  background-color: black;
  color: white;
}
.item-name {
  font-weight: bold;
  color: #84bd00;
}
.result {
  display: block;
}
#sorry {
  font-weight: bold;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
